#info {
    display: flex;
    justify-content: space-between;
    color: #ff6060;
    margin-top: 30px;
    margin-inline: 5%;

    @media screen and (max-width : 768px) {
        flex-direction: column;
        margin-top: 20px;
        margin-inline: 15px;
    }

    #info__wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        #title__info {
            margin: 0;
            font-size: 30px;

            @media screen and (max-width : 768px) {
                font-size: 22px;
            }
        }

        #location__info {
            margin: 0;
            font-size: 20px;

            @media screen and (max-width : 768px) {
                font-size: 14px;
            }
        }

        #tags {
            display: flex;

            .tag {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 25px;
                width: 100%;
                border-radius: 10px;
                font-size: 14px;
                text-align: center;
                color: #fff;
                background-color: #ff6060;
                margin-right: 10px;

                @media screen and (max-width : 768px) {
                    height: 18px;
                    width: 100px;
                    font-size: 10px;
                    border-radius: 5px;
                }
            }
        }
    }

    #host {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        @media screen and (max-width : 768px) {
            flex-direction: row-reverse;
            align-items: center;
        }

        #host__tag {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            #host__tag__name {
                font-size: 16px;
                margin-right: 10px;

                @media screen and (max-width : 768px) {
                    font-size: 12px;
                }
            }

            #host__tag__image {
                width: 45px;
                height: 45px;
                border-radius: 50%;

                @media screen and (max-width : 768px) {
                    width: 32px;
                    height: 32px;
                }
            }
        }

        #stars__range {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            @media screen and (max-width : 768px) {
                width: 125px;
            }

            .star {
                font-size: 50px;
            }
        }
    }
}